{% extends 'basic.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_content %}
	<div>
		<div class="wrap">
			<div class="Section-content">
				<div class="Order-block Order-block_OPEN" id="login">
					<header class="Section-header Section-header_sm">
						<h2 class="Section-title">
							Сканер штрих-кода
						</h2>
					</header>
					<div class="Cards">
						<div class="Card">
							<form class="form Cart" id="form_big" method="post">
								{% csrf_token %}
								<div class="form-group">
									<img style="height: 30mm;" src="{% static 'tags/big.jpg' %}" alt="big.jpg"/>
									<label class="form-label" for="ean">
										EAN \ Название
									</label>
									Отсканировано: {{ barcode_for_big_tags }}<br>
									Последний добавленный:<br>
									{% if size == 'BIG' %}
										{{ last_enter }}
									{% else %}
										-
									{% endif %}
									<input type="hidden" name="size" value="BIG">
									{% if size == 'BIG' %}
										{{ form.ean|attr:"autofocus" }}
									{% else %}
										{{ form.ean }}
									{% endif %}
								</div>
							</form>
						</div>
						<div class="Card">
							<form class="form Cart" id="form_big_sale" method="post">
								{% csrf_token %}
								<div class="form-group">
									<img style="height: 30mm;" src="{% static 'tags/big-sale.jpg' %}" alt="big.jpg"/>
									<label class="form-label" for="ean">
										EAN \ Название
									</label>
									Отсканировано: {{ barcode_for_big_sale_tags }}<br>
									Последний добавленный:<br>
									{% if size == 'BIG_SALE' %}
										{{ last_enter }}
									{% else %}
										-
									{% endif %}
									<input type="hidden" name="size" value="BIG_SALE">
									{% if size == 'BIG_SALE' %}
										{{ form.ean|attr:"autofocus" }}
									{% else %}
										{{ form.ean }}
									{% endif %}
								</div>
							</form>
						</div>
						<div class="Card">
							<form class="form Cart" id="form_small" method="post">
								{% csrf_token %}
								<div class="form-group">
									<img style="height: 30mm;" src="{% static 'tags/small.jpg' %}" alt="big.jpg"/>
									<label class="form-label" for="ean">
										EAN \ Название
									</label>
									Отсканировано: {{ barcode_for_small_tags }}<br>
									Последний добавленный:<br>
									{% if size == 'SMALL' %}
										{{ last_enter }}
									{% else %}
										-
									{% endif %}
									<input type="hidden" name="size" value="SMALL">
									{% if size == 'SMALL' %}
										{{ form.ean|attr:"autofocus" }}
									{% else %}
										{{ form.ean }}
									{% endif %}
								</div>
							</form>
						</div>
						<div class="Card">
							<form class="form Cart" id="form_small_sale" method="post">
								{% csrf_token %}
								<div class="form-group">
									<img style="height: 30mm;" src="{% static 'tags/small-sale.jpg' %}"
									     alt="big.jpg"/>
									<label class="form-label" for="ean">
										EAN \ Название
									</label>
									Отсканировано: {{ barcode_for_small_sale_tags }}<br>
									Последний добавленный:<br>
									{% if size == 'SMALL_SALE' %}
										{{ last_enter }}
									{% else %}
										-
									{% endif %}
									<input type="hidden" name="size" value="SMALL_SALE">
									{% if size == 'SMALL_SALE' %}
										{{ form.ean|attr:"autofocus" }}
									{% else %}
										{{ form.ean }}
									{% endif %}
								</div>
							</form>
						</div>
					</div>
					<div class="Middle-top" style="padding: 10px; margin-bottom: 0">
			            <div class="wrap" style="padding: 0">
				            <h6 class="Middle-title" style="margin: 10px">Добавить ценник по уценки (Добавлено: {% if numbers_free_tags > 0 %}{{ numbers_free_tags }}{% else %}0{% endif %})</h6>
				            <div class="Middle-header">
				                <form class="row" style="margin-top: 10px; text-align: center" id="free_form" method="post">
									{% csrf_token %}
					                {% for field in free_form %}
						                <div>
									       {{ field.label_tag }}{{ field }}
						                </div>
					                {% endfor %}
					                <button class="btn" type="submit" style="width: 100px; height: 50px; margin-top: 10px; margin-left: 10px; background-color: #3cb878; border-radius: 0; font-size: 80%">Добавить</button>
								</form>
				            </div>
			            </div>
			        </div>
					<div class="Order-footer" style="min-height: 30px; height: 30px; margin: 0">
						<a class="btn btn_success btn_muted Order-btnReg" style="width: 20%; margin-top: 10px"
						   href="{% url 'barcode_scanner' %}">
							Очистить
						</a>
						<a class="btn btn_success Order-btnReg" style="width: 20%; margin-top: 10px" href="{% url 'print_tags' %}"
						   target="_blank">
							Сформировать
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}