{% load static %}
<tbody style="box-shadow: 0 0 0 0.1mm gray; width: 45mm; height: 33mm; table-layout: fixed; line-height: 0; background-image: url('{% static "signature.png" %}'); background-position: bottom left; background-size: 15mm; background-repeat: no-repeat">
<tr style="max-height: 5mm; height: 5mm; margin: 0">
	<td colspan="2" style="width: 45mm; max-width: 45mm; overflow: hidden; white-space: nowrap; font-family: Arial Cyr, sans-serif; text-align: center; vertical-align: middle; font-size: calc(min(16px / {{ tags.1.category|length }} * 18, 16px)); padding: 0">
		{{ tags.1.category }}
	</td>
</tr>
<tr style="max-height: 5mm; height: 5mm; margin: 0;">
	<td colspan="2" style="width: 45mm; max-width: 45mm; text-align: center; vertical-align: middle; font-family: 'AvantGardeC', sans-serif; color: black; overflow: hidden; white-space: nowrap; font-weight: bold; font-size: calc(min(26px / {{ tags.1.title|length }} * 10, 26px)); padding: 0;">
		{{ tags.1.title }}
	</td>
</tr>
<tr style="max-height: 20mm; height: 20mm; font-family: 'Condens', sans-serif; margin: 0">
	{% if tags.1.is_red_price %}
		<td colspan="2" style="width: 45mm; max-width: 45mm; color: red; font-weight: bold; font-size: calc(min(70px / {{ tags.1.price|length }} * 9, 70px)); text-align: center; vertical-align: middle; overflow: hidden; white-space: nowrap; padding: 0">
			{{ tags.1.price }}
		</td>
	{% else %}
		<td colspan="2" style="width: 45mm; max-width: 45mm; color: black; font-weight: bold; font-size: calc(min(70px / {{ tags.1.price|length }} * 9, 70px)); text-align: center; vertical-align: middle; overflow: hidden; white-space: nowrap; padding: 0">
			{{ tags.1.price }}
		</td>
	{% endif %}
</tr>
<tr style="max-height: 3mm; height: 3mm;">
	<td style="width: 22.5mm; max-width: 22.5mm; text-align: left; vertical-align: middle; overflow: hidden; white-space: nowrap; padding: 0 0 0 5px; font-size: calc(min(8px / {{ tags.1.country|length }} * 17, 8px));">
		{{ tags.1.country }}
	</td>
	<td style="width: 22.5mm; max-width: 22.5mm; text-align: right; vertical-align: middle; overflow: hidden; white-space: nowrap; padding: 0 5px 0 0; font-size: calc(min(8px / {{ date|length }} * 17, 8px));">
		{{ date }}
	</td>
</tr>
</tbody>